.main-page {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex: 1 1 auto;
}

.main-content {
    width: 100%;
    height: 75%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #93F1B9FF;
}

.page-header {
    top: 0;
}

.footer {
    bottom: 0;
}


.page-header, .footer {
    position: sticky;
    width: 100%;
    height: 12.5%;
    flex-grow: 0;
    border: #ececf1 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    color: rgba(79, 129, 99, 0.49);
}

.page-header > h1 {
    font-weight: bolder;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: .1vm;
    margin-left: 5%;
}

.page-header > div {
    margin-right: 5%;
}

