body, html {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #93f1b9;
}

.container {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  background-color: whitesmoke;
  border: solid #131111 20px;
  border-radius: 50px;
}

#root {
  justify-content: center;
}
