.menu-item {
    display: flex;
    width: 25vh;
    height: 25vh;
    align-self: center;
    background-color: #568f6d;
    color: white;
    border: #84b698 5px solid;
    border-radius: 50px;
    margin: 2vh;
    justify-content: center;
    align-items: center;
    transition: transform ease-in-out .2s;
}

.menu-item:hover {
    transform: scale(1.22);
}

