.menu-items > button {
    width: 50vh;
    height: 10vh;
    align-self: center;
    background-color: #568f6d;
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 5%;
}

